*{
    padding: 0;
    margin: 0;
    background-size: cover;
}
.main{
    width: 100%;
    background: url(image/bacckground.avif);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}
.main .navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;

}
.main .navbar h1{
    color: rgb(149, 175, 198);
}
ul{
    margin-top: 5px;
}
ul  li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(164, 174, 174);
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color: rgb(213, 225, 225);
}

.container {
    max-width: 400px;
    margin-left: 70px;
    margin-top: 30px;
}
.container h1{
    text-align: center;
    color: #D3D3D3;
    margin-bottom: 20px;
}
.container ul{
    display: grid;
    padding-left: 60px;
}
.projects-list li{
    list-style-type: disc;
    margin-top: 10px;
}
.projects-list li a{
    text-decoration: underline;
}