*{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    background: url(image/bacckground.avif);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}
.main .navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;

}
.main .navbar h1{
    color: rgb(149, 175, 198);
}
ul{
    margin-top: 5px;
}
ul  li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(164, 174, 174);
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color: rgb(213, 225, 225);
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}
.info h1{
    font-size: 50px;
    color: #D3D3D3;
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #c3c2c2;
}
.info span{
    color: rgb(104, 173, 173);
}
.info a{
    text-decoration: none;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    background-color: rgb(31, 28, 28);
    color: rgb(187, 194, 200);
    transition: 0.4s ease;
}
.info a:hover{
    color: rgb(187, 194, 200);
    background-color: #555;
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}
.image:hover .girl{
    left: 55%;
}
.icons a{
    text-decoration: none;
    color: rgb(164, 174, 174);
}
.icons ion-icon{
    margin-left: 7%;
    margin-right: -60px;
    color: rgb(164, 174, 174);
    font-size: 40px;
    transition: .4s ease;
}
.icons ion-icon:hover{
    color: rgb(104, 173, 173);
}